@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* GENERAL*/


:root {
    --income: #28B9B5;
    --expenditure: #a18851;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5efe1;
    font-size: 16px;
    height: 100vh;
    position: relative;
}


/* TOP */


.top {
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/coins.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.budget {
    width: 350px;
    color: #fff;
}

.budget-header {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget-value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget-income,
.budget-expenditure {
    padding: 12px;
    text-transform: uppercase;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.budget-income {
    background-color: var(--income);
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.budget-expenditure {
    background-color: var(--expenditure);
}

.budget-income-word,
.budget-expenditure-word {
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}

.budget-incomes-value,
.budget-expenditure-value {
    letter-spacing: 1px;
}

.budget-expenditure-percent {
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget-expenditure-percent {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


/* BOTTOM */


.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #d8e6cd;
}

.add-container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-type {
    border: 1px solid #e7e7e7;
    width: 55px;
    height: 44px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    padding-left: 5px;
    outline: none;
}

.add-type:focus {
    border: 1px solid var(--income);
}

.add-description,
.add-value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    font-size: 14px;
    padding: 12px 15px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
}

.add-description:focus,
.add-value:focus {
    border: 1px solid #28B9B5;
}

.add-description { width: 400px; }
.add-value { width: 200px; }

.add-img {
    border: none;
    background: none;  
}

.add-img svg {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}

.add-img svg:hover { 
    fill: #fff;
}

.container {
    width: 1000px;
    margin: 60px auto;
    display: flex;
}

.income {
    width: 475px;
    margin-right: 50px;
}

.expenditure {
    width: 475px;
}

.container h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.income-title { color: var(--income); }
.expenditure-title { color: var(--expenditure); }

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item-percent {
    margin-left: 20px;
    font-size: 12px;
    background-color: #ece3ce;
    padding: 3px;
    border-radius: 3px;
    width: 35px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.income .item-value {
    color: var(--income);
    font-weight: bold;
}

.expenditure .item-value,
.expenditure .item-percent {
    color: var(--expenditure);
    font-weight: bold;
}

.item-delete {
    border: none;
    background: none;
    margin-left: 25px;
}

.item-delete svg {
    cursor: pointer;
    display: none;
    vertical-align: middle;
}

.item-delete svg:hover {
    fill: rgb(224, 49, 93);
}

.item:hover .item-delete svg { display: block; }

.red:focus {
    border: 1px solid var(--expenditure);
}

.red-btn svg:hover {
    fill: var(--expenditure);
}



/* MEDIA QUERIES */


@media screen and (max-width: 320px) {

    .budget {
        width: 250px;
    }

    .budget-value {
        font-size: 20px;
    }

    .budget-header {
        font-size: 15px;
    }

    .budget-income-word,
    .budget-expenditure-word {
        font-size: 11px;
    }

    .budget-income-value,
    .budget-expenditure-value {
        font-size: 11px;
    }

    .budget-expenditure-percent {
        font-size: 10px;
    }

    .add-container {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .add-type {
        width: 44px;
        height: 33px;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .add-description {
        font-size: 12px;
        width: 280px;
    }

    .add-value {
        font-size: 12px;
        width: 150px; 
    }

    .add-img {
        margin-top: 20px;
    }

}

@media screen and (min-width: 320px) and (max-width: 640px) {
    
    .add-container {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    
    .add-type {
        width: 44px;
        height: 33px;
        font-size: 17px;
        margin-bottom: 5px;
    }

    .add-description {
        font-size: 14px;
        width: 300px;
    }

    .add-value {
        font-size: 14px;
        width: 170px; 
    }

    .add-img {
        margin-top: 20px;
    }
    
}

@media screen and (min-width:640) and (max-width: 768px) {
    
}

@media screen and (min-width: 1024px) {
    
}